<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>
        <!-- Proxy everything to Express (Express serves API + static frontend) -->
        <rule name="Proxy All to Express" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:5199/{R:1}" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
